<%- singular_var_name = singular_table_name.split('_')[-1] -%>
<%- form_object_vars = singular_var_name == singular_table_name ? "@#{singular_var_name}" : "[:#{singular_table_name.split('_')[0..-2].join(', :')}, @#{singular_var_name}]" -%>
<%%= simple_form_for(<%= form_object_vars %>, :html => { class: 'form-horizontal' }) do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                <%= index_helper %>_path, :class => 'btn' %>
  </div>
<%% end %>
