
// Bootstrap/SimpleForm date input is three select fields
.control-group.date select {
  width: auto;
}

table td.id-column {
  font-family: $monoFontFamily;
  text-align: right;
  width: 50px;
}

@media (max-width: 767px) {
    .table td.id-column {
      padding: 8px; // Preserve Padding
    }
    .table td.title-column {
      padding: 0;
    }
    .table td.title-column a {
      display: block;
      padding: 8px;
    }
}